<div class="mt-4"></div>
    <h3>Đăng dịch vụ</h3>
    <form class="mt-4 container" method="POST" action="/services/create">
        <div class='mb-3'>
            <label for='name'>Tên dịch vụ</label>
            <input type='text' class='form-control' id='name' name='name' />
        </div>
        {{!-- <div class='mb-3'></div>
            <label for='videoId'>Video ID</label>
            <input type='text' class='form-control' id='videoId' name='videoId' />
        </div>
        <div class='mb-3'></div>
            <label for='image'>Image</label>
            <input type='text' class='form-control' id='image' name='image' />
        </div> --}}
        <button type='submit' class='btn btn-primary'>Thêm dịch vụ</button>
    </form>
</div>