<div class="mt-4"></div>
    <h3>Đăng không gian</h3>
    <form class="mt-4 container" method="POST" action="/services/create">
        <div class='mb-3'>
            <label for='name'>Tên không gian</label>
            <input type='text' class='form-control' id='name' name='name' />
        </div>
        <div class='mb-3'>
            <label for='name'>Mô tả</label>
            <textarea name="description" id="description" class='form-control'></textarea>
        </div>
        <div class='mb-3'>
            <label for='name'>Link hình ảnh</label>
            <input type="text" class="form-control" name="image" id="image">
        </div>
        <button type='submit' class='btn btn-primary'>Thêm không gian</button>
    </form>
</div>