<nav class='navbar navbar-expand-lg navbar-light container'>
    <a class='navbar-brand' href='/'>
        <img
            src='https://www.chidori.vn/assets/logo-69c0a25c2a5de159565768e592c9efd3c4f91c9b79e42d8c9a5107ad85ba28fc.png'
            width='130'
            height='40'
            alt='logo'
        />
    </a>
    <button
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
    >
        <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mx-auto'>
            <li class='nav-item active'>
                <a class='nav-link' href='#'>Chi nhánh<span class='sr-only'>(current)</span></a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Làm việc tại Chidori</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Thành viên</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Về chúng tôi</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Blog</a>
            </li>
        </ul>
        <div>
            <a
                href='/clients/bookings/new'
                class='btn text-white rounded-pill btn-booking'
                style='background-color: #936A4E;'
            >Đặt chỗ trước</a>
        </div>
    </div>
</nav>

<style> 
    .btn-booking { background-color: #936A4E; } .btn-booking:hover { background-color: #3E2613; }
</style>